@import url(./__img/photo-grid__img.css);

.photo-grid {
    width: 92.5%;
    grid-area: photo-grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    display: grid;
    grid-gap: 16px;
    justify-content: center;
}