.footer__links {
    width: 465px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: 720px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        width: 158px;
        min-height: 248px;
        font-size: 24px;
        line-height: 24px;
        flex-direction: column;
    }
}