.places__paragrapf {
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 30px;
}

.places__paragrapf:last-child {
    margin: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .places__paragrapf {
        margin: 0 0 27px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places__paragrapf {
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .places__paragrapf {
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 26px;
    }
}