.lead__images {
    margin: 0 0 8px;
    width: 984px;
    height: 615px;
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .lead__images {
        width: 90.625%;
        height: 580px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__images {
        width: 100%;
        height: 480px;
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {
    .lead__images {
        width: 100%;
        height: 200px;
    }
    
}