@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__accent/intro__accent.css);

.intro {
    width: 690px;
    grid-area: intro;
    justify-self: start;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 720px;
        justify-self: center;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro {
        width: 288px;
        justify-self: center;
    }
}