@import url(./__list/places__list.css);
@import url(./__title/places__title.css);
@import url(./__img/places__img.css);
@import url(./__text/places__text.css);
@import url(./__paragrapf/places__paragrapf.css);

.places {
    grid-area: places;
    display: grid;
    grid-template-columns: 984px;
    grid-gap: 80px;
    justify-self: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .places {
        grid-template-columns: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places {
        grid-template-columns: 720px;
        grid-gap: 72px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .places {
        grid-template-columns: 320px;
        grid-gap: 48px;
    }
}